nav li {
  display: inline;
  padding:50px;
  font-family: sans-serif;
}

ul{
  padding-top: 1.5%;
}



li a {
  text-decoration: none;
  color: #DC143C;
  font-size: 30px;
  transition: 1s;
}

li a:hover{
  background-color: rgba(220,20,50,0.5);
  color:white;
  transition: 1s;
}


nav{
  height: 90px;
  background-image: url("../Img/logo1.png");
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

body{
  background-image: url(../Img/cityFlower.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /*changer opacité photo de fond avec picasa sur l'autre pc*/
}

h1{
  font-family: "Bungasai";
  color:rgba(0,0,0,0.5);
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 50px;
  font-family: "Bungasai";
}

#img1 img {
  height: 300px;
  width: 300px;
  float: left;
  margin-left:2%;
  margin-top: 2%;
  padding-right: 2%;
}

#img1 {
  width: auto;
  height: 380px;
  background-color: rgba(255,255,255,0.5);
}

#img1 p {
  text-align: justify;
  text-align-last: center;
  margin-right: 2%;
  padding-top: 2%;
  font-family: "bkobiii";
  font-size: 20px;

}

h2{
  text-align: center;
  background-color: rgba(220,20,50,0.5);
  margin-bottom: -1%;
  font-family: "Bungasai";
}

@font-face {
  font-family: "Bungasai";
  src: url(../font/Bungasai.ttf);
}
@font-face {
font-family: "bkobiii";
src: url(../font/bkobiii.ttf);
}

#img2 {
  width: auto;
  height: 380px;
  background-color: rgba(255,255,255,0.5);
}

#img2 p {
  text-align: justify;
  text-align-last: center;
  margin-left: 2%;
  padding-top: 2%;
  font-family: "bkobiii";
  font-size: 20px;
}

#img2 img {
  height: 300px;
  width: 300px;
  float: right;
  margin-right:2%;
  margin-top: 2%;
  padding-left: 2%;
}
