@font-face {
  font-family: "Bungasai";
  src: url(../font/Bungasai.ttf);
}
@font-face {
font-family: "bkobiii";
src: url(../font/bkobiii.ttf);
}

.btn{
  margin: 10px;
  border: solid grey 1px;
  text-decoration: none;
  text-align: center;
  color: white;
  padding: 1.6%;
  border-radius: 50%;
  background-color: rgba(220,20,50,0.5);
  font-family:"Bungasai";
  transition: 1s;
  padding-bottom: 3%;
}

.btn:hover {
  margin: 10px;
  border: solid grey 2px;
  text-decoration: none;
  text-align: center;
  color: white;
  padding: 2.2%;
  border-radius: 50%;
  background-color: #DC143C;
  font-family:"Bungasai";
  transition: 1s;
  padding-bottom: 3.5%;
}


body{
  background-image: url(../Img/cityFlower.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /*changer opacité photo de fond avec picasa sur l'autre pc*/
}

p{
  text-align: justify;
  text-align-last: center;
  color: black;
  margin-bottom: 20px;
  font-size: 30px;
  font-family: "bkobiii";
}

h1{
  text-align: center;
  font-family: "Bungasai";
  margin-bottom: 50px;
  color: rgba(220,20,50,0.5);
}

nav li {
  display: inline;
  padding:50px;
  font-family: sans-serif;
}

ul{
  padding-top: 1.5%;
}



li a {
  text-decoration: none;
  color: #DC143C;
  font-size: 30px;
  transition: 1s;
}

li a:hover{
  background-color:rgba(220,20,50,0.5);
  color:white;
  transition: 1s;
}


nav{
  height: 90px;
  background-image: url("../Img/logo1.png");
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

div{
  margin: auto;
  margin-top: 200px;
  height: 450px;
  width: 1000px;
  background-color: rgba(255, 255, 255, 0.5);
}
